.ImgLogo {
    margin-left: 50%;
    width: 100px;
}

.item-logout {
    color: white;
    background-color: transparent;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.item-logout span:hover {
    cursor: pointer;
}