.menu-bar {
  background-color: #1988f7;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 70px;
}

.ImgLogo {
  width: 100px;
}

.item-logout {
  color: white;
  background-color: transparent;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.item-logout a:hover {
  cursor: pointer;
}
